# System timezone for correct timestamp printing
TZ=UTC

# The device path of your thermal printer
PRINTER_DEVICE=/dev/usb/lp0

# Where to store the SQLite database (defaults to tickertape.db in the CWD)
# If using Docker, this should point to the mapped volume path
TICKERTAPE_DB=/data/tickertape.db
