# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Local SQLite Database
tickertape.db
tickertape.db-journal

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDE / Editor configuration
.vscode/
.idea/
*.swp
*.swo

# Any hidden files or directories should be ignored, as they are likely to be IDE/editor specific.
.*/
!.github/

# MacOS
.DS_Store
