[Unit]
Description=Tickertape Web Service
After=network.target

[Service]
Type=simple
User=bryan
WorkingDirectory=/home/bryan/github/tickertape
ExecStart=/usr/bin/python3 server.py
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
